<!--
============================================
; Title: Nodebucket not-found.component.html
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 31 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;===========================================
-->

<div flLayout="column" class="parent">

    <mat-card fxLayout class="mat-elevation-z8 card">
      <mat-card-title style="font-family: helvetica; font-size:300px; margin-left:400px; color: red;" class="mat-headline card-title">404</mat-card-title>
      <mat-card-content class="card-content">
      </mat-card-content>
    </mat-card>

    <mat-card fxLayout class="mat-elevation-z8 card">
        <mat-card-title style="font-family: helvetica; font-size:50px; margin-left:100px; padding-left:380px;" class="mat-headline card-title">Page Not Found</mat-card-title>

        <mat-card-content class="card-content"><img src="frown-face.png" style="height:200px; width:200px; padding-left:550px;">
        </mat-card-content>
      </mat-card>
  </div>