<!--
====================================================
; Title: Nodebucket task-create-dialog.component.html
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 31 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;==================================================
-->

<h2 mat-dialog-title>Add new task</h2>

<mat-dialog-content [formGroup]="form">
 <mat-form-field style="width: 350px;">
    <input mat-input placeholder="Name" formControlName="text" (keydown.enter)="submit()" />
 </mat-form-field>
</mat-dialog-content>

<div fxLayout="column" style="color: red;" fxLayoutGap="5px">
 <small *ngIf="form.controls['text'].hasError('minlength') && form.controls['text'].touched">The name must be atleast three characters long period.</small>
 
</div>

<mat-dialog-actions align="end">

    <button mat-button (click)="close()">Close</button>
    <button mat-button [disabled]="!form.valid" (click)="submit()">Save</button>

</mat-dialog-actions>