/*
============================================
; Title: Nodebucket about.component.css
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 31 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;===========================================
*/

.main-welcome{
  margin-top: 30px;
}

.title{
    text-align: center;
    font-weight: lighter;
}

.subtitle{
    text-align:center;
    font-size: 14px;
}

.about-content{
    width: 50%;
    margin: 0 auto;
}

.p-title{
    font-size: 24px;
}

p{
    text-align: justify;
    line-height: 1.6;
}