<!--
============================================
; Title: Nodebucket about.component.css
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 31 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;===========================================
-->

<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
    <h1 fxFlex class="title">
        Nodebucket EMS Information<br />
        <span class="subtitle">
           Here is some helpful information on Nodebuckets employee management system.

        </span>
    </h1>
    <div class="about-content">
        <mat-divider></mat-divider>
        <br />
        <p class="mat-body-4">
            <span class="p-title mat-headline">Overview</span><br />
            <br />
            Nodebucket is an employee management system. An employee management system 
            is a great way for employees to keep track of what tasks need to be completed
            and what tasks have been completed. It’s a great tool that many companies have
            adopted and continue to use with success. It has been shown to increase productivity
            in many companies and help employees achieve their work goals. <br />
            <br />
            Nodebucket works by allowing the employee and administrator to create and remove tasks
            once they are logged into their account. It’s a great way for your manager to see what
            tasks have been completed by you and what tasks still need to be completed. It’s also
            a great way for employees to remember all the tasks that they have so they won’t
            forget to complete anything. This can help with some of the stress of the job 
            because you don’t have to constantly remember what tasks have to be completed 
            next. Not only can you create and delete tasks, but you can also update them. <br />
            <br />
       
            Nodebucket works by dragging and dropping a task from the To Do column to the Done column. 
            While that might seem obvious to some users, other users might not be familiar with this 
            concept so that is why we are listing it in this description of Nodebucket. The employee 
            or administrator can also move tasks from the Done column back to the To Do column 
            if need be. We have tried to design this EMS as a simple and easy to use application
            for the employees and administrators both, if however you have any questions please feel 
            free to reach out and contact employee support at 307-221-8905 or nodebucketEMS@gmail.com. 

    </div>
</div>
