/*
============================================
; Title: Nodebucket login.component.css
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 15 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;===========================================
*/

.login-container{
    margin-top: 5%;
    width:50%;
    margin-left:25%;
}

.login-title{
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.login-subtitle{
    text-align: center;
}

.error-message{
    color: #df546A;
}
