<!--
============================================
; Title: Nodebucket login.component.html
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 15 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;===========================================
*/
-->

<mat-card>
<mat-form-field color="warn">
    <mat-label>
        Enter your employee id:
    </mat-label>
    <input matInput>
</mat-form-field>
<button type="submit" color="warn" mat-raised-button>SUBMIT</button>
</mat-card>

