<!--
============================================
; Title: Nodebucket base-layout.component.html
; Author: Richard Krasso
; Modified by: Karie Funk
; Date: 15 March 2020
; Description: This will be an app
; showing to do and done tasks for employees
;===========================================
*/
-->



<div fxLayout="column">



  <nav fxFlex>
    <mat-toolbar color="warn">

      <div class="navbar-container">

        <button class="logo" routerLink="/" mat-button>Nodebucket</button>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" routerLink="/about" mat-button>About</button>
        <button class="navbar-link" routerLink="/login" mat-button>Login</button>
        <input type="Search" placeholder="Search..." class="form-control" />
        
    </div>
    </mat-toolbar>

  </nav>


  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>


  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content" color="warn">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - Karie Funk - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
